<!DOCTYPE html>
<html lang="en">
  
  <body>
    
    <div class="container">
      <h1>All Inventorys</h1>
      <a href="/">Go Back Home</a>
      <a href="/inventorys/new">Add a new inventory</a>
      <ol>
        <% inventorys.forEach(function(inventory) { %>
        <li>
          <a href="/inventorys<%= inventory._id %>">
            <%= inventory.name %> Description: <%= inventory.description %>
          </a>
        </li>
        <% }); %>
      </ol>
    </div>
    <footer class="">
      <p>Copyright &copy; All Right Reserved 2021 NewsFeed</p>
  </footer>
  </body>
</html>