<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css">
  <title></title>
</head>

<body>
  <h1>Add Products</h1>
  
  <form id="inventorys-form" action="/inventorys" method="POST">
    <label for="name">Product Name:</label>
    <input type="text" name="name" /> 
    
    <label for="Quantity">Quantity:</label>
    <input type="text" name="category" /> 
    <div id="sub-btn"> 
      <input type="submit" value="Submit" />
   </div>
   
   </form>
   <footer class="">
    <p>Copyright &copy; All Right Reserved 2021 Inventory Manager</p>
</footer>
    
    </body>
</html>